<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobilAppAutomation" guice-stage="DEVELOPMENT">


	<test thread-count="5" name="Default test" verbose="2">


		
		<classes>
	<class name="sZephyr_testcases.Before_pairing"/>
		</classes>

	</test> <!--
	Default test -->
</suite> <!--
Default suite -->

<!-- Before starting 
 *Delete Testuser007 account  -->
 